[Unit]
Description=Schedule FitBoyRepack background French translation

[Timer]
OnBootSec=40min
OnUnitInactiveSec=5min
RandomizedDelaySec=60
Persistent=true
Unit=translation-autodrain.service

[Install]
WantedBy=timers.target
