[Unit]
Description=Schedule FitBoyRepack background French translation

[Timer]
OnBootSec=40min
OnUnitInactiveSec=45min
RandomizedDelaySec=5min
Persistent=true
Unit=translation-autodrain.service

[Install]
WantedBy=timers.target
