[Unit]
Description=Schedule FitBoyRepack French translation publication

[Timer]
OnBootSec=55min
OnUnitInactiveSec=1h
RandomizedDelaySec=5min
Persistent=true
Unit=translation-publish.service

[Install]
WantedBy=timers.target
