[Unit]
Description=Schedule FitBoyRepack French translation publication

[Timer]
OnBootSec=55min
OnUnitInactiveSec=3h
RandomizedDelaySec=10min
Persistent=true
Unit=translation-publish.service

[Install]
WantedBy=timers.target
